@model List<ProductViewModel>

<p>
    <a class="btn btn-outline-success" asp-action="Add" asp-controller="Product">Create New</a>
</p>

<div>
    <span class="text-danger">@TempData["Error"]</span>
</div>

<div>
    <span class="text-success">@TempData["Success"]</span>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Ürün Adı
            </th>
            <th>
                Ürün Açıklama
            </th>
            <th>
                Ürün Fiyatı
            </th>
            <th>
                Ürün Stok
            </th>
            <th>
                Kategori
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Stock
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Update" asp-controller="Product" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-success" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id">Sepete Ekle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
